/**
 * Main Style Sheet
 * Dental Tourism
 *
 * Copyright (c) 2013. by Way2CU
 * Author: Eyal Gershon
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic|Roboto+Condensed:400,700);

@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew-bold-webfont.eot'),
       url('../fonts/opensanshebrew-bold-webfont.woff') format('woff');
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew-regular-webfont.eot'),
       url('../fonts/opensanshebrew-regular-webfont.woff') format('woff');
       
  font-style:   normal;
  font-weight:  400;
}

body {
	background-color: #EBEFF0;

	color: #333333;
	font-family: Roboto, serif;
}

body.rtl {
	font-family: 'Open Sans Hebrew', serif;
}

input,
button {
	font-family: Roboto, serif;
}

body.rtl input,
body.rtl button {
	font-family: 'Open Sans Hebrew', serif;
}
